<div id="basket-checkout">
  <div class="actions">
    <app-button
      class="btn secondary continue"
      routerLink="/"
      routerLinkActive="active"
      [text]="'Continue Shopping'"
    >
    </app-button>

    <basket-preview></basket-preview>
  </div>

  <product-list
    [products]="products"
    [type]="'REMOVE'"
    (productsChanged)="calcPrices()"
  ></product-list>

  <div class="promo">
    <label class="promo">Enter promo code</label>
    <input type="text" [(ngModel)]="promoCode" />
    <app-button
      class="btn primary apply"
      [text]="'Apply'"
      (click)="applyPromo()"
    ></app-button>
  </div>

  <div class="pricing">
    <div class="sub-total-container">
      <label class="sub-total">Sub Total</label>
      <span class="value">{{ subTotal.toFixed(2) }}</span>
    </div>
    <div class="promotional-container">
      <label class="promotional">Promotional discount amount</label>
      <span class="value">{{ discont }}%</span>
    </div>
    <div class="basket-container">
      <label class="basket-total">Basket total</label>
      <span class="value">{{ basketTotal.toFixed(2) }}</span>
    </div>
  </div>

  <div class="credit-card">
    <label>Please enter your credit card number</label>
    <input type="number" [(ngModel)]="cardNumber" />
  </div>

  <app-button
    class="btn primary checkout"
    [text]="'Checkout'"
    (click)="checkout()"
  ></app-button>
</div>
