#basket-checkout {
  display: flex;
  flex-direction: column;
  width: 100%;

  basket-preview {
    float: right;
  }

  product-list {
    flex-grow: 1;
  }

  div.pricing {
    flex-direction: column;
    align-items: flex-end;
  }

  div.credit-card {
    flex-direction: row;
    align-self: flex-end;

    input {
      margin-left: 1rem;
    }
  }

  div.pricing,
  div.credit-card {
    display: flex;
    margin-bottom: 2rem;

    span {
      color: #2727f9;
    }

    label {
      margin-left: 1rem;
    }
  }

  app-button.checkout {
    margin-left: auto;
  }
}
