<div id="basket-checkout">
  <div class="actions">
    <app-button
      class="btn secondary continue"
      routerLink="/"
      routerLinkActive="active"
      [text]="'Continue Shopping'"
    >
    </app-button>

    <basket-preview></basket-preview>
  </div>

  <product-list [products]="basket" [type]="'REMOVE'"></product-list>

  <div class="pricing">
    <div class="sub-total-container">
      <span class="sub-total">Sub Total</span>
      <label class="value">{{ subTotal }}</label>
    </div>
    <div class="promotional-container">
      <span class="promotional">Promotional discount amount</span>
      <label class="value">{{ discont }}</label>
    </div>
    <div class="basket-container">
      <span class="basket-total">Basket total</span>
      <label class="value">{{ basketTotal }}</label>
    </div>
  </div>

  <div class="credit-card">
    <span>Please enter your credit card number</span>
    <input type="text" [(ngModel)]="creditCard" />
  </div>

  <app-button
    class="btn primary checkout"
    [text]="'Checkout'"
    (click)="checkout()"
  ></app-button>
</div>
