#product-list {
  display: flex;
  flex-direction: column;
  width: 100%;

  ul.list {
    list-style: none;
    margin-top: 4rem;

    li.product-item {
      display: flex;
      margin-bottom: 2rem;

      label.name,
      label.price,
      app-button {
        margin: auto;
      }
    }
  }

  basket-preview,
  app-button.checkout {
    margin-left: auto;
  }
}
