<div id="product-list">
  <basket-preview [quantity]="basket.length"></basket-preview>

  <ul class="list">
    <li class="product-item" *ngFor="let product of products">
      <label class="name">{{ product.name }}</label>
      <label class="price">{{ product.price }}</label>
      <app-button
        class="btn primary add"
        [text]="'Add to basket'"
        (click)="addToBasket(product)"
      >
      </app-button>
    </li>
  </ul>

  <app-button
    class="btn secondary checkout"
    routerLink="/basket"
    routerLinkActive="active"
    [text]="'Proceed to checkout'"
  >
  </app-button>
</div>
